<div class="row">
    <div class="col-md-12">
        <h2>Education</h2>
    </div>
</div>

<div class="row experience-row">
    <div class="col-md-2 text-center">
            <span class="align-middle">
                <img src="./images/{{logoURL}}" class="school-logo logo" onmouseover="this.src='./images/{{logoHoverURL}}';" onmouseout="this.src='./images/{{logoURL}}';" />
            </span>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-8">
                <h4>{{schoolName}}</h4>
            </div>
            <div class="col-md-4">
                <div class="text-right"><b>{{timeFrame}}</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <b>{{description}}</b>
                </div>
                <div>
                    Relevant Coursework
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    {{#relevantCoursework.columnOne}}
                    <li>{{.}}</li>
                    {{/relevantCoursework.columnOne}}
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    {{#relevantCoursework.columnTwo}}
                    <li>{{.}}</li>
                    {{/relevantCoursework.columnTwo}}
                </ul>
            </div>
        </div>
    </div>

</div>
