{{#projects}}
    <div class="row">
        <div class="col-md-12">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="row">
        {{#projectItems}}
            <div class="col-md-4">
                <div class="card" >
                    <a href="{{githubURL}}">
                        <div class="image-wrapper">
                            <img class="card-img-top fade-on-hover" src="./images/{{previewImage}}" alt="Card image cap">
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{projectName}}</h4>
                        <h2>
                            {{#tools}}
                            <i class="{{.}} devicon" title="{{.}}"></i>
                            {{/tools}}
                        </h2>
                        <p class="card-text">{{projectDescription}}</p>
                        <a href="{{githubURL}}" class="btn btn-primary btn-block" target="_blank">Github &raquo;</a>
                        {{#projectURL}}
                            <a href="{{projectURL}}" class="btn btn-secondary btn-block" target="_blank">View &raquo;</a>
                        {{/projectURL}}
                    </div>
                </div>
            </div>
        {{/projectItems}}
    </div>
<hr>
{{/projects}}