
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {{#projectItems}}
                <div class="col-md-6">
                    <div class="card" >
                        <a href="{{githubURL}}">
                            <img class="card-image card-img-top fade-on-hover" src="./static/images/{{previewImage}}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{projectName}}</h4>
                            {{#tools}}
                                <span class="h5 devicon">
                                    <span class="badge badge-outline-secondary"><span class="icon {{icon}}"></span> {{displayName}}</span>
                                </span>
                            {{/tools}}

                            <p class="card-text">{{projectDescription}}</p>
                            <ul>
                            {{#details}}
                               <li>{{.}}</li>
                            {{/details}}
                            </ul>

                            <a href="{{githubURL}}" class="btn btn-primary" target="_blank">Github &raquo;</a>
                            {{#projectURL}}
                                <a href="{{projectURL}}" class="btn btn-dark-blue" target="_blank">View &raquo;</a>
                            {{/projectURL}}
                        </div>
                    </div>
                </div>
            {{/projectItems}}
        </div>
    </div>
</div>
